$color-primary: #3046C5;
$color-secondary: #0000CD;
$color-pale: #4169E1;
$color-mid: #1E90FF;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-gold: #DAA520;

$body-font: "Open Sans", sans-serif;
$header-font: "Copperplate", fantasy;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
    h2 {
    color: $color-gold;
    }
}



.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-pale, $color-mid);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-gold;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
  }


  .carousel-caption {
      background-color: $color-black-transparent;
  }
  
  .carousel {
      border: solid $color-primary;
  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
} 

#reserveModal {
    .modal-header {
        background-color: $color-gold;
        color: white;
    }
}


#loginModal {
    .modal-header {
        background-color: $color-gold;
        color: white;
    }
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

footer {
    background-color: $color-gold;
}

h5 {
    font-weight: bold;
}